.Preview__Card {
  --radius-card: var(--radius-soft);
  --radius-button: var(--radius-pill);
  --padding-info: var(--m) var(--xs);
  --padding-button: var(--s) var(--m);
  --color-keyword: var(--grey);
  --color-title: var(--black);
  --position-button: var(--s);
  --color-bg-button: var(--green-300);
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25);
  --shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --size-button: var(--base-size);
}

.Preview__Card {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-card);
  padding: 0;
  min-height: 100px;
  min-height: 300px;
  box-shadow: var(--shadow);
}

.Preview__Info {
  flex: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-info);
}

.Keyword {
  text-transform: uppercase;
  color: var(--color-keyword);
}

.Keyword:not(:last-child)::after {
  content: " / ";
}

.Title {
  color: var(--color-title);
}

.Preview__Image {
  flex: 1;
  position: relative;
}

.Preview__Button {
  cursor: pointer;
  position: absolute;
  bottom: var(--position-button);
  right: var(--position-button);
  background-color: var(--color-bg-button);
  border-radius: var(--radius-button);
  padding: var(--padding-button);
  box-shadow: var(--shadow-button);
  font-size: var(--size-button);
}
