.Preview__Card {
  --radius-card: var(--radius-soft);
  --radius-button: var(--radius-pill);
  --padding-info: var(--s);
  --padding-button: var(--s) var(--m);
  --color-keyword: var(--grey);
  --color-title: var(--black);
  --color-description: var(--black);
  --position-button-mini: var(--s);
  --position-button: var(--s);
  --color-bg-button: var(--green-300);
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.25);
  --shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Preview__Card {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  border-radius: var(--radius-card);
  min-height: 370px;
  box-shadow: var(--shadow);
}

.Preview__Card.Preview__Mini {
  flex-direction: column;
}

.Preview__Info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-info);
  position: relative;
}

.Preview__Info > *:not(:first-child) {
  margin: var(--s) 0 0 0;
}

.Preview__Mini .Preview__Info {
  flex: 0;
}

.Keyword {
  font-size: var(--small);
  text-transform: uppercase;
  color: var(--color-keyword);
}

.Keyword:not(:last-child)::after {
  content: " / ";
}

.Title {
  color: var(--color-title);
}

.Description {
  color: var(--color-description);
}

.Preview__Image {
  max-height: 370px;
  max-width: 50%;
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 0 var(--radius-card);
}

.Preview__Image img {
  width: 100%;
  height: 100%;
}

.Preview__Image > *:first-child {
  height: 100%;
}

.Preview__Mini .Preview__Image {
  max-height: 245px;
  max-width: unset;
  flex: 1;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 var(--radius-card) var(--radius-card);
}

.Preview__Mini .Preview__Image > * {
  height: unset;
}

/* Button */
.Default__Button__Wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Preview__Button {
  cursor: pointer;
  background-color: var(--color-bg-button);
  border-radius: var(--radius-button);
  padding: var(--padding-button);
  box-shadow: var(--shadow-button);
}

.Preview__Card .Preview__Button {
  bottom: var(--position-button);
  right: var(--position-button);
}

.Preview__Card.Preview__Mini .Preview__Button {
  position: absolute;
  bottom: var(--position-button-mini);
  right: var(--position-button-mini);
}
