.About {
  --color-title: var(--purple-500);
  --size-title-m: var(--h4);
  --size-keywords: var(--small);
  --padding-layout-m: var(--l);
  --padding-card-m: var(--xs);
  --margin-section-m: var(--l) 0;
  --margin-copy-intro-m: 0 0 0 var(--m);
  --margin-image: var(--l3) 0;
  --margin-title: 0 0 var(--m) 0;
  --margin-keywords-col: 0 0 0 var(--s);
  --margin-keywords-row: var(--s) 0;
  --border-radius-img: var(--radius-soft);
}

.About {
  padding: var(--padding-layout-m);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.About p {
  margin: 0;
}

.About__Title {
  color: var(--color-title);
  font-size: var(--size-title-m);
  margin: var(--margin-title);
}

.About__Section {
  margin: var(--margin-section-m);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.About__Section img {
  margin: var(--margin-image);
  border-radius: var(--border-radius-img);
}

.Copy__Intro {
  margin: var(--margin-copy-intro-m);
}

.List {
  width: 100%;
}

.List__Headings,
.List .Card__Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--padding-card-m);
  text-transform: capitalize;
}

.List__Headings *,
.List .Card__Container * {
  flex: 1;
}

.List__Headings > *:not(:first-child),
.List .Card__Container > *:not(:first-child) {
  margin: var(--margin-keywords-col);
}

.List__Headings li,
.List .Card__Container li {
  font-size: var(--size-keywords);
  margin: var(--margin-keywords-row);
}
