@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,700&display=swap");

:root {
  --white: hsl(100, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --green-300: hsl(168, 41%, 84%);
  --green-500: hsl(171, 39%, 55%);
  --purple-500: hsl(274, 83%, 27%);
  --grey: hsl(0, 0%, 43%);
  /* fonts */
  --font-display: "Poppins", Helvetica, sans-serif;
  --font-main: "Poppins", Helvetica, sans-serif;
  /* typeface */
  --base-size: 1.2rem;
  --type-scale: 1.1;
  --small: calc(var(--base-size) * 0.65 * var(--type-scale));
  --p: calc(var(--base-size) * 0.8 * var(--type-scale));
  --h6: calc(var(--base-size) * var(--type-scale));
  --h5: calc(var(--h6) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --light: 300;
  --regular: 400;
  --bold: 600;
  /* spacing */
  --unit: 16px;
  --xxs: calc(var(--unit) * 0.25);
  --xs: calc(var(--unit) * 0.5);
  --s: calc(var(--unit) * 0.75);
  --m: calc(var(--unit) * 1);
  --l: calc(var(--unit) * 1.25);
  --l1: calc(var(--unit) * 1.5);
  --l2: calc(var(--unit) * 2);
  --l3: calc(var(--unit) * 3);
  --l4: calc(var(--unit) * 4);
  --l5: calc(var(--unit) * 5);
  /* viewport dimensions */
  --min-width: 375px;
  --desktop: 768px;
  /* radii */
  --radius-sharp: 3px;
  --radius-soft: 10px;
  --radius-round: 50%;
  --radius-pill: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: var(--h1);
  font-family: var(--font-display);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

p {
  font-size: var(--p);
}

main {
  padding: 0 10px;
}

.wrap {
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  :root {
    --type-scale: 1;
  }
}

@media (min-width: 800px) {
  main {
    padding: 0 100px;
  }
}

@media (min-width: 1000px) {
  :root {
    --type-scale: 1.125;
  }
}

@media (min-width: 1200px) {
  :root {
    --type-scale: 1.2;
  }

  main {
    padding: 0 200px;
  }
}

@media (min-width: 1600px) {
  main {
    padding: 0 350px;
  }
}

@media (min-width: 2000px) {
  main {
    padding: 0 450px;
  }
}

@media (min-width: 2250px) {
  main {
    padding: 0 600px;
  }
}
