:root {
  --white: hsl(100, 100, 100);
  --black: hsl(0, 0, 0);
  --green-300: hsl(168, 41, 84);
  --green-500: hsl(171, 39, 55);
  --purple-500: hsl(274, 83, 27);
  /* fonts */
  --font-display: "ABeeZee", Helvetica, sans-serif;
  --font-main: "Poppins", Helvetica, sans-serif;
}

html,
body {
  font-family: var(--font-main);
}
