.Index {
  --padding-layout-m: var(--l);
  --padding-card-m: var(--xs);
  --margin-section-m: var(--xs) 0;
  --margin-copy-intro-m: 0 0 0 var(--m);
  --margin-testimonial-m: 0 0 var(--m) 0;
  --size-author-m: var(--small);
}

.Index {
  padding: var(--padding-layout-m);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Index__Section {
  margin: var(--margin-section-m);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Card__Container {
  padding: var(--padding-card-m);
}

.Copy__Intro {
  margin: var(--margin-copy-intro-m);
}

.Copy__QuoteImage {
  text-align: center;
}

.Testimonial {
  margin: var(--margin-testimonial-m);
}

.Testimonial__Author {
  font-size: var(--size-author-m);
  text-align: center;
}
