.Labels {
  --size-font: var(--small);
}

.Labels {
  font-size: var(--size-font);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Labels > :nth-child(2) {
  text-align: right;
}
