.Contact {
  --size-font-s: var(--small);
  --size-font-m: var(--small);
  --size-font-l: var(--h6);
  --color: var(--purple-500);
  --margin-li: var(--xs) 0;
  --margin-a: 0 var(--s) 0 var(--xs);
}

.Contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Contact__Info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.Info__Item {
  margin: var(--margin-li);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.Info__Item a {
  margin: var(--margin-a);
  font-size: var(--size-font-s);
  color: var(--color);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  user-select: all;
  -moz-user-select: all;
}

.Info__Item a::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: bold;

  @media speech {
    display: none;
  }
}

.Info__Item a:hover {
  font-weight: bold;
}

@media (min-width: 1100px) {
  .Contact__Info {
    flex-direction: row;
    align-items: center;
  }
  .Info__Item a {
    font-size: var(--size-font-m);
  }
}

@media (min-width: 1800px) {
  .Info__Item a {
    font-size: var(--size-font-l);
  }
}
