.Contact {
  --size-font-m: var(--small);
  --color: var(--purple-500);
  --margin-li: var(--xs) 0;
  --margin-a: 0 var(--s);
}

.Contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Contact__Info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Info__Item {
  margin: var(--margin-li);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.Info__Item a {
  margin: var(--margin-a);
  font-size: var(--size-font-m);
  color: var(--color);
  text-decoration: none;
  user-select: all;
  -moz-user-select: all;
}

.Info__Item a:hover {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .Contact__Info {
    flex-direction: column;
    align-items: flex-start;
  }
}
